{% extends 'base.html' %}
{% block title %}
To-do List
{% endblock %}
{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
</div>
{% endfor %}
{% endif %}

{% if all_items %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">TO-DO ITEM</th>
            <th scope="col">
                <center>STATUS CHANGE</center>
            </th>
            <th scope="col">
                <center>DELETE</center>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for todo in all_items %}
        {% if todo.completed %}
        <tr class="table-success">
            <td class="striker"><a href="{% url 'edit' todo.id %}">{{ todo.item }}</a></td>
            <td>
                <center>
                    <a class="btn btn-warning" href="{% url 'uncomplete' todo.id %}" role="button">
                        uncomplete
                    </a>
                </center>
            </td>
            <td>
                <center>
                    <a class="btn btn-danger" href="{% url 'delete' todo.id %}" role="button">
                        Delete
                    </a>
                </center>
            </td>
        </tr>
        {% else %}
        <tr class="table-warning">
            <td>
                <a href="{% url 'edit' todo.id %}">{{ todo.item }}</a></td>
            <td>
                <center>
                    <a class="btn btn-success" href="{% url 'complete' todo.id %}" role="button">
                        complete
                    </a>
                </center>
            </td>
            <td>
                <center>
                    <a class="btn btn-danger" href="{% url 'delete' todo.id %}" role="button">
                        Delete
                    </a>
                </center>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}